<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lunafactory homepage</title>
</head>
<body>
    <h1>LUNAFACTORY</h1>
    <button onclick="window.location.href = 'http://localhost:9090/TopProducts';">Click Here To See the top Products</button>
    <button onclick="window.location.href = 'http://localhost:9090/Products';">Click Here To See Assembled Products</button>
</body>
</html>
